body .container-fluid{
    padding: 0px;
    margin: auto;
    width:100%;
    font-family: 'Roboto', sans-serif;
   
}
.header{
    background-image: url(img/Rectangle10.png);
    width:100%;
    height: 457px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
}

.overlay{
    background:rgba(0,0,0,.2);
    z-index: 1; 
    height: 100%;
}

/* group 25 */
.navBox{
    position: absolute;
    width: 80%;
    height: 86px;
    left: 138px;
    top: 283px;
    display: flex;
}

.name{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 70px;
    margin-top: 15px;
}
.navs{
    flex: 4;
    
}
.hotel{
    flex: 1;
    color: #FFFFFF;
    font-family: Playfair Display;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}

.astaria{
    flex: 2;
    color: #FFFFFF;
    font-family: Playfair Display;
    text-align: center;
    font-size: 45px;
    line-height: 60px;
    font-style: normal;
    font-weight: normal;

    margin-top:-25px;
    width: 100%;
    
}
.navs{
    display: flex;
    flex-direction: column;
}
.upspace{
    flex: 3;
}
ul{
    flex: 1;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    
}

ul li {
    display: inline;
    color: #FFFFFF;

}
.divider{
    width: 0.5px;
    /* height: 60px; */
    border: 0.5px #FFFFFF solid;
}
/* SECOND ROW; */
.reserve{
    background-color: #f4f4f4
}
.reserve>h3{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-family: Playfair Display;
    margin-bottom: 1.5em;
    color: #333333;
}
.reserve>p{
    text-align: center;
    color: #666666;
    font-size: 1.1em;
    font-weight: thicker;
    
}
.justify-content-center>.btn{
   background-color: #d4741b;
    color: white;
    width: 10em;
    border-radius: 0.6em;
    margin: 4em;
    padding: 0.6em
}
.rooms>h3{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-family: Playfair Display;
}
.rooms>p{
    text-align: center;
    color: #a0a0a0;
    font-family: ROBOTO;
    font-size: 1.2em
  
}
.box{
    margin: 3.2em;
    margin-top: 6em;
    text-align: center
}
.box>h4,.col-md-4>h4{
    color: #424040;
    margin: 1em;
}
.box>p{
    color: #424040;
    font-size: 1.05em
}
.box>a,.col-md-4>a{
    color: #d4741b;
    
}
.box-under1{
    margin-left: 3em
}
.box-under2{
    margin-left: 4em
}

.col-md-4{
    text-align: center;
    margin-top: 6em;
}
.col-md-4>p{
    color: #424040;
    font-size: 1.3em
}
.footer{
    width: 100%;
    height: auto;
    background: #111111;
    
}

@media (min-width: 700px) {
    .footer{
        display: flex;
        justify-content: space-between;
    }
    .lowerbox{
        width: 70%;
    }
}
.fname{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-top: 150px;
}
.line1{
    flex: 1;
    margin-top: 150px;
    font-family: roboto slab;
}

.line2{
    flex: 1;
    margin-top: 150px;
    font-family: roboto slab;
}
.line3{
    flex: 1;
    margin-top: 150px;
    font-family: roboto slab;
    color: #FFFFFF;
}
.line3 span{
    margin-left: 10px;
}
.mobNav{
    display: none;
}

/* mobile responsiveness */
@media only screen and (max-width: 800px) {

    .navs{
        display: none;
    }
    .mobNav{
        display: block;
        margin-top: 20px;
        flex: .5;
        height: 1em;
        width: auto;
        margin: auto;
    }
    .navBox{
        width: 90%;
        float: left;
        /* border: 1px #cccccc solid; */
        left: 5%;
        flex-direction: column;
    }
    .name{
        /* border: 1px #cccccc solid; */
        flex: 3;
    }
    .lowerbox
    {
        
    }
    
}

.boxes{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.box{
    flex: 1;
    flex-basis: 25%;
    
}
.lowerbox{
    display: flex;
    justify-content: space-between;
    
    margin: auto;
    flex-wrap: wrap;
}
.checked {
  color: orange;
}
.unchecked{
    color: #cccccc;
}

.testimony{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    
    flex-wrap: wrap;
}
.tesImage{
    flex: 1;
    margin: auto;
    display: flex;
    
    flex-basis: 49%;
}
.tesText{
    flex: 1;
    flex-basis: 49%;
    
}
.texts{
    width: 300px;
    
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}